<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal session' }) do |f| %>
  <div class="form-group">
    <%= f.label :email, :class => 'control-label col-md-2' %>
    <div class="col-lg-10">
      <%= f.email_field :email, autofocus: true , :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password, class: 'control-label col-md-2' %><br />
    <div class="col-lg-10">
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit "Log in", :class => 'btn btn-primary' %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>

