<%= form_for @receipt,
  :html => { :class => "form-horizontal receipt" },
  url: @receipt.persisted? ? receipt_path(@receipt) : user_receipts_path(@user) do |f| %>

  <% if @receipt.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@receipt.errors.count, "error") %> prohibited this receipt from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @receipt.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :closed, :class => 'control-label col-md-11', style: 'text-align: left' %>
    <div class="col-md-1">
      <%= f.check_box :closed, :class => 'form-control' %>
    </div>
    <%=f.error_span(:closed) %>
  </div>

  <h2>Lne items for this receipt</h2>
  <%= f.fields_for :line_items do |l| %>
    <%= render "line_item_fields", :f => l %>
  <% end %>
  <%= link_to_add_fields "Add line item", f, :line_items %>

  <div class="form-group">
    <div class="col-md-12">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                user_path(@receipt.user), :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>

